/* GENERAL */

.backgroundImg {
    margin: 0;
    padding: 0;
    background-image: url(../img/background-mountain.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    font-family: 'Segoe UI', 'OpenSans', 'sans-serif';
    font-size: 1.2rem;
    color: white;
}

header.logoHeader {
    height: 100px;
    margin-top: 60px;
    margin-bottom: 30px;
}


/* SIDEBAR MENU LEFT */

 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #424242;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav #sidenavLogo {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
}

#sidenavLogo #logoGtG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 70px;
}

#sidenav-events {
    margin-top: 15px;
    margin-bottom: 30px;
}

#sidenav-tips {
    margin-bottom: 30px;
}

#sidenav-geolocalisation {
    margin-bottom: 30px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ccc;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* RIGHT MENU GENERAL */

 /* The side navigation menu */
 .searchnav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #424242;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.searchnav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.searchnav a:hover {
    color: #ccc;
}

/* Position and style the close button (top right corner) */
.searchnav .closebtnRight {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
}

#searchInput {
    width: 200px;
}

ul.checkbox {
    list-style: none;
}

.checkboxSearch {
    margin-bottom: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .searchnav {padding-top: 15px;}
    .searchnav a {font-size: 18px;}
}

/* ECRAN SIGN-UP */

.spacer {
    margin-bottom: 60px;
}

#returnArrow {
    display: block;
    margin-left: 36%;
    margin-top: 20px;
}

#logoGtG2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


 /* ECRAN LOGIN */

#logoGtG {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formInput, button {
    display: block;
    margin : 20px auto;
    font-family: 'Segoe UI', 'OpenSans', 'sans-serif';
    border: white;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    font-size: 1.2rem;
    color: #707070;
    width: 300px;
    opacity: 0.84;
}

button {
    height: 60px;
    border: 1px solid #707070;
    border-radius: 30px;
    opacity: 1;
}

.text {
    text-align: center;
    margin-top: 100px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#logoGoogle {
    margin-right: 20px;
}

#linkInscription {
    display: block;
    text-align: center;
    margin-top: 30px;
}

#linkInscription:link {
    text-decoration: underline;
    color: white;
}

#linkInscription:visited {
    color: white;
}


/* GEOLOCALISATION */

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#menuIcon {
    height: 100%;
    margin-top: 5px;
}

#geolocalisationTitle {
    font-size: 1.5rem;
    margin-left: 60px;
    margin-right: 60px;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* PROFIL PAGE */

#profilMenuIcon {
    height: 100%;
    margin-top: 5px;
    margin-right: 40px;
}

#profilTitle {
    font-size: 1.5rem;
    margin-left: 60px;
    margin-right: 100px;
}

#profilFormBG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 500px;
    width: 360px;
    border-radius: 5px 5px 5px 5px;
}

.profilHead {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #07571a;
    height: 150px;
    width: 360px;
    border-radius: 5px 5px 0 0;
}

.fa-power-off {
    margin-left: 330px;
    margin-top: 8px;
    color: white;
}

#profilPseudo {
    display: block;
    margin : 40px auto;
    font-family: 'Segoe UI', 'OpenSans', 'sans-serif';
    background-color: #07571a;
    border: none;
    border-bottom: 1px solid #80E27E;
    height: 30px;
    text-align: center;
    font-size: 1.2rem;
    color: #80E27E;
    width: 300px;
}

.profilInfos {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 550px;
    width: 360px;
    border-radius: 0 0 5px 5px;
}

.profilForm {
    display: block;
    margin : 20px 30px;
    font-family: 'Segoe UI', 'OpenSans', 'sans-serif';
    border: none;
    border-bottom: 1px solid #707070;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    color: #707070;
    width: 300px;
}

.fa-envelope, .fa-lock, .fa-building, .fa-home, .fa-birthday-cake {
    position: absolute;
    left: 5px;
    color: #80E27E;
    height: 50px;
}

.fa-envelope {
    top: 130px;
}

#btn-profil {
    position: relative;
    border: none;
    margin-top: 40px;
}