{% extends '@Map/Default/index.html.twig' %}

{% block titre %} Les bonnes adresses {% endblock %}

{% block content %}

<div class="map-container">
    <iframe id="map" src="https://www.google.com/maps/d/u/0/embed?mid=1C465Rr02kZAYGsG_zxsSrA1PVDnnc1qF" allowfullscreen></iframe>
</div>

{% endblock %}