{% extends '@User/Default/index.html.twig' %}

    {% block fos_user_content %}
{% block content %}

        <div class="page">
            <div class="container">
                <img class="center" src="{{ asset("public/img/LogoGtGblanc.png") }}" id="logoAccueil">
                {% include "@FOSUser/Profile/show_content.html.twig" %}
            </div>
        </div>


{% endblock %}
    {% endblock fos_user_content %}
