{% extends 'base.html.twig' %}

{% block body %}

    {% block navbar %}
        {% include 'block/navbar.html.twig' %}
    {% endblock %}



    <div class="page">
        <div class="container">
            {% block titre %}
                <div class="titreAccueil">Bienvenue sur Grey to Green !</div>
            {% endblock %}

            {% block content %} 

                <img class="center" src="{{ asset("public/img/LogoGtGblanc.png") }}" id="logoAccueil">
                <div class="textAccueil">
                    Grey to Green transforme votre quotidien simplement, 
                    </br>par des petits gestes éco-responsables
                </div>

                <div id="liensAccueil">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_profile_show') }}" class="linkAccueil">
                        Mon profil
                    </a>
                    
                {% else %}
                    <a class="linkAccueil" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                    <a class="linkAccueil" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                {% endif %}
                </div>

                <div id="aboutGtG">
                    <div class="center">
                        <a class="linkAccueil" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="text-white fa fa-sort-down"></i>
                            A propos de Grey to Green
                        </a>
                    </div>
                    <div class="collapse center" id="collapseExample">
                        <div class="card card-body">
                            <p>L’application doit permettre de simplifier les démarches écologiques au quotidien tout en mettant en relation les différents acteurs du domaine.</p>
                            <p>Vous trouverez dans cette application des astuces (recettes, DIY, recyclage) et des évènements (conférences, salons, festivals) ainsi qu'un page de bonnes adresses autour de votre position.</p>

                        </div>
                    </div>
                </div>

            {% endblock %}
        </div>

        <div>
        {% block footer %}
            {% include 'block/footer.html.twig' %}
        {% endblock %}
        </div>

    </div>
{% endblock %}