{% extends 'base.html.twig' %}

{% block body %}

    {% block navbar %}
        {% include 'block/navbar.html.twig' %}
    {% endblock %}



    <div class="page">
        <div class="container">
            {% block titre %}
                <div class="titreAccueil">Bienvenue sur Grey to Green !</div>
            {% endblock %}

            {% block content %} 
                <img src="{{ asset("public/img/LogoGtGblanc.png") }}" id="logoAccueil">
                <div class="textAccueil">
                    Grey to Green transforme votre quotidien simplement, 
                    </br>par des petits gestes éco-responsables
                </div>

                <div id="liensAccueil">
                    <a class="linkAccueil" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                    <a class="linkAccueil" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                </div>
            {% endblock %}
        </div>

    </div>
    <div>
    {% block footer %}
        {% include 'block/footer.html.twig' %}
    {% endblock %}
    </div>
{% endblock %}