{% extends '@User/Default/index.html.twig' %}

{% block title %}M'inscrire{% endblock %}

{% block content %}

            <header>
                <div class="col-2">
                    <a href="{{ path('signIn') }}">
                        <i id="returnArrow" class="fas fa-caret-left"></i>
                    </a>
                </div>
                <div class="container-fluid text-center">
                    <img class="logoGtG" src="{{ asset("public/img/LogoGtGblanc.png") }}" alt="logoGtG">
                </div>
            </header>

            <form>
                {{ form(form) }}
            </form>

{% endblock %}