{% extends '@User/Default/index.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

    {% block fos_user_content %}
    {% block content %}

        <img class="center" src="{{ asset("public/img/LogoGtGblanc.png") }}" id="logoAccueil">
        
        <div class="alert alert-dismissible alert-light">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
        </div>
        
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}

    {% endblock %}
    {% endblock fos_user_content %}
