* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

.content {
  overflow-x: hidden;
  font-family: "Segoe UI", "OpenSans", "sans-serif";
  font-size: 1.2rem;
  color: white; }

.page {
  width: 100%;
  height: 100%;
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }
  .page::before {
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #42424200;
    z-index: -2;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }

.footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 0;
  margin: 0; }

.bars {
  display: block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  font-size: 2em;
  line-height: 1.2rem;
  position: fixed;
  top: 10px;
  left: 10px;
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 500; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked ~ .menu {
    margin: 0; }
  input[type="checkbox"]:checked ~ .bars {
    left: 250px; }
  input[type="checkbox"]:checked ~ .page {
    overflow: hidden;
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0); }
  input[type="checkbox"]:checked ~ .page::before {
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #222222ee;
    z-index: 2; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  margin: 0 0 0 -250px;
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background-color: #424242; }
  .menu .link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    display: block;
    transition: 0.3s; }
    .menu .link:hover {
      color: #ccc; }
  .menu .logo {
    background-color: #fff;
    display: block;
    padding: 40px 4.8rem;
    width: 100%; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
.backgroundImg {
  background-color: #087F23; }
  .backgroundImg::after {
    content: "";
    background-image: url(../img/background-mountain.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1; }

.title {
  display: block;
  line-height: 3.6rem; }

.center {
  text-align: center; }

header.logoHeader {
  height: 100px;
  margin-top: 60px;
  margin-bottom: 30px; }

.logoGtG {
  display: block;
  margin: 1.2rem auto; }

.formInput, .button {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  font-family: 'Segoe UI', 'OpenSans', 'sans-serif';
  display: block;
  border-style: none;
  margin: 1.2rem auto;
  width: 90%;
  height: 40px;
  border-radius: 9px;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  z-index: 4; }

.button {
  height: 60px;
  background-color: #424242; }

.otherCo {
  margin: 1.8rem auto; }

.socials {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1.2rem 0; }
  .socials img {
    height: 100%; }

#linkInscription {
  display: block;
  margin: 1.2rem auto;
  color: white; }
  #linkInscription:link {
    text-decoration: underline; }

#returnArrow {
  display: block;
  color: #fff;
  margin-left: 1.2rem;
  margin-top: 1.2rem; }

/* PROFIL PAGE */
#profilMenuIcon {
  font-size: 1.5rem;
  margin: 5px 5px; }

#profilTitle {
  font-size: 1.5rem;
  width: 100%;
  text-align: center; }

#profilFormBG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px; }

input {
    text-align:center;
 }

.profilHead {
  width: 100%;
  background-color: #424242c9;
  height: 150px; }

.fa-power-off {
  color: white;
  font-size: 1.5rem;
  float: right;
  margin-top: 10px;
  margin-right: 10px; }

#profilPseudo {
  width: 100%;
  display: block;
  margin-top: 230px;
  font-family: 'Segoe UI', 'OpenSans', 'sans-serif';
  background-color: #42424200;
  border: none;
  border-bottom: 1px solid #80E27E;
  height: 30px;
  text-align: center;
  font-size: 1.2rem;
  color: #80E27E; }

.profilInfos {
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 5px 5px; }

.profilForm {
  display: block;
  margin: 20px 5px;
  padding-left: 30px;
  font-family: 'Segoe UI', 'OpenSans', 'sans-serif';
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #00000000;
  height: 40px;
  font-size: 1rem;
  color: #fff;
  width: calc(100% - 30px); }

.fa-envelope, .fa-lock, .fa-building, .fa-home, .fa-birthday-cake {
  margin: 0px 5px 5px 5px;
  position: absolute;
  color: #fff;
  height: 50px; }

#btn-profil {
  position: relative;
  border: none;
  margin-top: 40px; }

.article {
  background-color: #ffffff44; }
  .article .article-entete {
    height: 60px;
    line-height: 60px; }
    .article .article-entete .article-titre {
      margin: auto; }
    .article .article-entete .article-categorie {
      margin: 5px; }
    .article .article-entete .button-upDown {
      margin: auto 30px; }
    .article .article-entete .article-contenu {
      margin: 20px; }
  .article .article-image {
    max-width: 600px;
    width: 100%; }
  .article .article-source {
    background-color: #ffffff60;
    color: royalblue;
    padding: 5px;
    font-style: italic;
    margin: auto 20px; }

/* PAGE ACCUEIL */
.titreAccueil {
  padding-top: 15%;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase; }

#logoAccueil {
  display: block;
  margin: 15% auto;
}

.textAccueil {
  text-align: center;
  color: #fff;
}

#liensAccueil {
  text-align: center;
  padding: 10% 0; }

.linkAccueil {
  display: inline-block;
  padding: 0 2%;
  margin: auto;
  color: white; }
  .linkAccueil:link {
    text-decoration: underline; }
  .linkAccueil:hover {
    color: #ccc; }


/*# sourceMappingURL=main.css.map */
