.article{
  background-color: #ffffff66;
  border-top: 1px solid #fff;
  margin: 5px;
  .button-upDown{
     &:hover{
      color: white;
      text-decoration: none;
    }
    .article-entete {
      line-height: 60px;
      color: white;
      text-decoration: none;
      .article-titre {
        margin:auto;
      }
      .article-categorie {
        margin: 5px;
      }
    }
  }
  .article-contenu {
      margin: 20px;
    }
  .article-image{
    max-width: 600px ;
    width: 100%;
  }
  .article-source{
    color:royalblue;
    padding: 3px;
    font-style: italic;
    margin: auto 20px;
  }
  .article-image{
    max-width: 600px;
    width: 100%;
  }
}