.article{
  background-color: #ffffffaa;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color:black;
  margin-bottom: 5px;
  .button-upDown{
    color: black;
    .fa.header{
      margin: auto 10px;
    }
    &:hover{
      color: black;
      text-decoration: none;
    }
    .article-entete {
      color: black;
      text-decoration: none;
      min-height: 60px;
      .article-titre {
        margin:auto;
        font-weight: 400;
      }
      .article-categorie {
        margin: 5px;
      }
    }
  }
  .article-contenu {
      margin: 20px;
      font-weight: 200;
    }
  .article-image{
    max-width: 600px ;
    width: 100%;
  }
  .article-source{
    color:royalblue;
    padding: 3px;
    font-style: italic;
    margin: auto 20px;
  }
  .article-image{
    max-width: 600px;
    width: 100%;
  }
}