// bar menu hamburger
.bars{
    display:block;;
    width:42px;
    height:42px;
    line-height:42px;
    color:#fff;
    text-align:center;
    font-size:2em;
    line-height: $size-default;
    position:fixed;
    top:10px;
    left:10px;
    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    transition:all 200ms ease;
    z-index:500;
}

input[type="checkbox"]{
    display:none;
    &:checked ~ .menu{
        margin:0;
    }
    &:checked ~ .bars{
        left:250px;
    }
    &:checked ~ .page{
        overflow: hidden;
        -webkit-transform:translate3d(250px, 0, 0);
        -moz-transform:translate3d(250px, 0, 0);
        -o-transform:translate3d(250px, 0, 0);
        transform:translate3d(250px, 0, 0);
    }
    &:checked ~ .page::before{
        position: fixed;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #222222ee;
        z-index: 2;
    }
}