<input type="checkbox" id="navigation"/>
<label class="bars" for="navigation">
    <i class="fas fa-bars"></i>
</label>
<div class="menu">
    <img src="{{ asset("public/img/LogoGtG.png") }}" class="logo">
    <a href="{{ path('evenement_homepage') }}" class="link">
        <i class="far fa-calendar-alt"></i>
        Evènements
    </a>
    <a href="{{ path('astuce_homepage') }}" class="link">

        <i class="far fa-lightbulb"></i>
        Astuces
    </a>
    <a href="./geolocalisation.html" class="link">
        <i class="fas fa-map-marker-alt"></i>
        Bonnes adresses
    </a>
    <a href="{{ path('myProfil') }}" class="link">
        <i class="far fa-user"></i>
        Mon profil
    </a>
</div>