<input type="checkbox" id="navigation"/>
<label class="bars" for="navigation">
    <i class="fas fa-bars"></i>
</label>
<div class="menu">
    <img src="{{ asset("public/img/LogoGtG.png") }}" class="logo">
    <a href="#" class="link">
        <i class="far fa-calendar-alt"></i>
        Evènements
    </a>
    <a href="#" class="link">
        <i class="far fa-lightbulb"></i>
        Astuces
    </a>
    <a href="./geolocalisation.html" class="link">
        <i class="fas fa-map-marker-alt"></i>
        Lieux d'intérêt
    </a>
    <a href="./profil.html" class="link">
        <i class="far fa-user"></i>
        Profil
    </a>
</div>