{% extends 'base.html.twig' %}

{% block body %}

    {% block navbar %}
        {% include 'block/navbar.html.twig' %}
    {% endblock %}

    <h1>{% block titre %}{% endblock %}</h1>

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'block/footer.html.twig' %}
    {% endblock %}
{% endblock %}