{% extends 'base.html.twig' %}

{% block body %}

    {% block navbar %}
        {% include 'block/navbar.html.twig' %}
    {% endblock %}

    {% block filtre %}
    {% endblock %}

    <div class="page">
        <div class="container">
            <h3 class="title center">{% block titre %}{% endblock %}</h3>
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}