{% extends 'base.html.twig' %}

{% block body %}

    {% block navbar %}
        {% include 'block/navbar.html.twig' %}
    {% endblock %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="page">
        <div class="container">
            <span class="title center">{% block titre %}{% endblock %}</span>
            {% block content %}{% endblock %}

        </div>
    </div>

{% endblock %}