{% extends 'base.html.twig' %}

{% block body %}

    {% block navbar %}
        {% include 'block/navbar.html.twig' %}
    {% endblock %}

    <div class="page">
        <div class="container">

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}

                        <div class="{{ type }} alert alert-dismissible alert-light">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>

                    {% endfor %}
                {% endfor %}
            {% endif %}

            <span class="title center">{% block titre %}{% endblock %}</span>
            {% block content %}{% endblock %}

        </div>
    </div>

{% endblock %}