{% extends '@Article/Default/index.html.twig' %}

{% block titre %}
    Nouveau produit
{% endblock %}

{% block content %}
    <h1>Nouvelle astuce</h1>
    <p>Ajouter une nouvelle astuce</p>

    {{ form(form) }}

{% endblock %}