{% extends '@Article/Default/index.html.twig' %}

{% block titre %}
    Nouveau produit
{% endblock %}

{% block content %}
    <h1>Modification de l'astuce</h1>
    <p>Modifier l'astuce</p>

    {{ form(form) }} 
    
{% endblock %}